# Replicate the DVF API

In [1]:
def dvf_commune(code_postal):
    # dvf_commune(75114)
    import urllib
    import json    
    try:
        url = "http://api.cquest.org/dvf?code_commune="+str(code_postal)
        response = urllib.request.urlopen(url)
        html = response.read()
        json_data = json.loads(html)
        
    except urllib.error.URLError:
        print("Erreur")
          
    return json_data

In [2]:
json_data = dvf_commune(75114)

In [4]:
!wget "https://raw.githubusercontent.com/slevin48/immo-search/main/data/75.csv?token=AC6XYQ73K4IWKQXRMV3ISA3ABXWXO"

--2021-01-24 22:57:52--  https://raw.githubusercontent.com/slevin48/immo-search/main/data/75.csv?token=AC6XYQ73K4IWKQXRMV3ISA3ABXWXO
Résolution de raw.githubusercontent.com (raw.githubusercontent.com)… 151.101.120.133
Connexion à raw.githubusercontent.com (raw.githubusercontent.com)|151.101.120.133|:443… connecté.
requête HTTP transmise, en attente de la réponse… 200 OK
Taille : 4491328 (4,3M) [text/plain]
Enregistre : «75.csv?token=AC6XYQ73K4IWKQXRMV3ISA3ABXWXO»

75.csv?token=AC6XYQ 100%[===================>]   4,28M  2,45MB/s    ds 1,7s

2021-01-24 22:57:54 (2,45 MB/s) - «75.csv?token=AC6XYQ73K4IWKQXRMV3ISA3ABXWXO» enregistré [4491328/4491328]

In [5]:
import boto3
s3 = boto3.resource('s3')
for bucket in s3.buckets.all():
    print(bucket.name)

diigo-knowledge-graph
matlab2020b
self-driving-dataset
zappa-54ckqvw8t
zappa-d5a55jhy6
zappa-w6lpl9cl0

In [8]:
s3 = boto3.resource('s3')
b = s3.Bucket("zappa-54ckqvw8t")
for file in b.objects.all():
    print(file.key)

75.csv

In [16]:
s3 = boto3.client('s3')
bucket = "zappa-54ckqvw8t"
filename = "75.csv"
s3.download_file(bucket, filename,filename)

In [15]:
import os
os.listdir()

['test.ipynb',
 '75.csv',
 '.vscode',
 '__pycache__',
 'zappa_settings.json',
 'env',
 '75114.json',
 'app.py',
 '.gitignore',
 'README.md',
 '.git',
 'requirements.txt']

In [7]:
s3_client = boto3.client('s3')
# s3_client.upload_file(file_name, bucket, object_name)
s3_client.upload_file("75.csv", "zappa-54ckqvw8t", "75.csv")

In [22]:
client = boto3.client('lambda')
client.list_functions()

{'ResponseMetadata': {'RequestId': 'ba3411c5-967c-47d6-a1ff-6997bfda0777',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Sun, 24 Jan 2021 22:40:09 GMT',
   'content-type': 'application/json',
   'content-length': '1921',
   'connection': 'keep-alive',
   'x-amzn-requestid': 'ba3411c5-967c-47d6-a1ff-6997bfda0777'},
  'RetryAttempts': 0},
 'Functions': [{'FunctionName': 'lambda2-dev',
   'FunctionArn': 'arn:aws:lambda:eu-west-3:884021060667:function:lambda2-dev',
   'Runtime': 'python3.7',
   'Role': 'arn:aws:iam::884021060667:role/lambda2-dev-ZappaLambdaExecutionRole',
   'Handler': 'handler.lambda_handler',
   'CodeSize': 6129845,
   'Description': 'Zappa Deployment',
   'Timeout': 30,
   'MemorySize': 512,
   'LastModified': '2021-01-07T22:18:38.280+0000',
   'CodeSha256': 'w1dAAi5RAdSz6EZ3OOuVpy2lKnRYrcmYXLYsaf3SuVY=',
   'Version': '$LATEST',
   'Environment': {'Variables': {}},
   'TracingConfig': {'Mode': 'PassThrough'},
   'RevisionId': '05fd0007-c145-4934-9a67-67ed7490fff7',
   'Layers': [],
   'PackageType': 'Zip'},
  {'FunctionName': 'lambda-immo-dev',
   'FunctionArn': 'arn:aws:lambda:eu-west-3:884021060667:function:lambda-immo-dev',
   'Runtime': 'python3.8',
   'Role': 'arn:aws:iam::884021060667:role/lambda-immo-dev-ZappaLambdaExecutionRole',
   'Handler': 'handler.lambda_handler',
   'CodeSize': 6691365,
   'Description': 'Zappa Deployment',
   'Timeout': 30,
   'MemorySize': 512,
   'LastModified': '2021-01-24T22:32:46.019+0000',
   'CodeSha256': 'eBIxhzg3V3Zzr3kVSiu62Nk4gqEpVhnUC9Je4lJKrDM=',
   'Version': '$LATEST',
   'Environment': {'Variables': {}},
   'TracingConfig': {'Mode': 'PassThrough'},
   'RevisionId': 'f0423772-04f1-49e6-be4d-bbd307ef3e9d',
   'Layers': [],
   'PackageType': 'Zip'}]}

In [15]:
import pandas as pd
df = pd.read_csv("75.csv")
df

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,...,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude
0,2020-360697,2020-01-02,1,Vente,268800.0,14.0,NaN,RUE DE L ARCADE,0411,75008.0,...,Appartement,24.0,1.0,NaN,NaN,NaN,NaN,NaN,2.323937,48.871607
1,2020-360698,2020-01-06,1,Vente,878378.0,9.0,NaN,BD DE LA MADELEINE,5888,75001.0,...,Appartement,66.0,2.0,NaN,NaN,NaN,NaN,NaN,2.326882,48.869331
2,2020-360698,2020-01-06,1,Vente,878378.0,9.0,NaN,BD DE LA MADELEINE,5888,75001.0,...,Local industriel. commercial ou assimilé,43.0,0.0,NaN,NaN,NaN,NaN,NaN,2.326882,48.869331
3,2020-360699,2020-01-10,1,Vente,680000.0,10.0,NaN,RUE DU BOURG L ABBE,1200,75003.0,...,Appartement,51.0,2.0,NaN,NaN,NaN,NaN,NaN,2.351965,48.864157
4,2020-360700,2020-01-03,1,Vente,852000.0,24.0,NaN,RUE DE SAINTONGE,8716,75003.0,...,Appartement,19.0,1.0,NaN,NaN,NaN,NaN,NaN,2.363196,48.862017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23493,2020-377318,2020-06-30,1,Vente,520000.0,55.0,NaN,RUE MONTMARTRE,6513,75002.0,...,Appartement,47.0,3.0,NaN,NaN,NaN,NaN,NaN,2.344134,48.865842
23494,2020-377319,2020-06-26,1,Vente,1740000.0,104.0,NaN,RUE REAUMUR,8073,75002.0,...,Appartement,150.0,5.0,NaN,NaN,NaN,NaN,NaN,2.347903,48.867536
23495,2020-377320,2020-06-25,1,Vente,725000.0,16.0,NaN,RUE CHARLEMAGNE,1797,75004.0,...,Appartement,48.0,3.0,NaN,NaN,NaN,NaN,NaN,2.359936,48.854633
23496,2020-377321,2020-06-23,1,Vente,200000.0,7.0,NaN,RUE CHABANAIS,1669,75002.0,...,Appartement,26.0,1.0,NaN,NaN,NaN,NaN,NaN,2.336652,48.867463
23497,2020-377322,2020-06-11,1,Vente,433000.0,3.0,NaN,RUE SAINT-JOSEPH,8659,75002.0,...,Appartement,33.0,1.0,NaN,NaN,NaN,NaN,NaN,2.345110,48.868196

In [12]:
# df.code_commune = df.code_commune.astype(int)

In [16]:
df[df.code_commune == 75114]

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,...,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude
9969,2020-367489,2020-01-06,1,Vente,95000.0,45.0,NaN,RUE BOULARD,1158,75014.0,...,Appartement,31.0,3.0,NaN,NaN,NaN,NaN,NaN,2.327889,48.832227
9970,2020-367490,2020-01-08,1,Vente,545000.0,9.0,NaN,RUE D ODESSA,6875,75014.0,...,Appartement,43.0,3.0,NaN,NaN,NaN,NaN,NaN,2.324906,48.842674
9971,2020-367491,2020-01-08,1,Vente,220000.0,26.0,NaN,RUE DE LA SABLIERE,8446,75014.0,...,Appartement,18.0,1.0,NaN,NaN,NaN,NaN,NaN,2.322940,48.832098
9972,2020-367492,2020-01-10,1,Vente,132500.0,33.0,B,AV REILLE,8105,75014.0,...,Appartement,25.0,1.0,NaN,NaN,NaN,NaN,NaN,2.334895,48.823750
9973,2020-367493,2020-01-06,1,Vente,590000.0,41.0,NaN,RUE JONQUOY,5000,75014.0,...,Appartement,75.0,4.0,NaN,NaN,NaN,NaN,NaN,2.316237,48.829196
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10872,2020-368179,2020-06-16,1,Vente,335500.0,17.0,NaN,RUE GASSENDI,3967,75014.0,...,Appartement,21.0,2.0,NaN,NaN,NaN,NaN,NaN,2.327226,48.835148
10873,2020-368179,2020-06-16,1,Vente,335500.0,17.0,NaN,RUE GASSENDI,3967,75014.0,...,Appartement,10.0,1.0,NaN,NaN,NaN,NaN,NaN,2.327226,48.835148
10874,2020-368180,2020-06-09,1,Vente,238925.0,7.0,NaN,RUE DECRES,2639,75014.0,...,Local industriel. commercial ou assimilé,25.0,0.0,NaN,NaN,NaN,NaN,NaN,2.315183,48.832915
10875,2020-368180,2020-06-09,1,Vente,238925.0,7.0,NaN,RUE DECRES,2639,75014.0,...,Local industriel. commercial ou assimilé,12.0,0.0,NaN,NaN,NaN,NaN,NaN,2.315183,48.832915
10876,2020-368181,2020-06-30,1,Vente,575000.0,74.0,NaN,RUE D ALESIA,0143,75014.0,...,Appartement,46.0,2.0,NaN,NaN,NaN,NaN,NaN,2.325255,48.828590

In [18]:
df_dict = df.to_dict()

## Test Flask

`export FLASK_APP=app.py` 

`export FLASK_ENV=development`

` flask run`

In [ ]:
import requests as rq
rq.get("http://127.0.0.1:5000/dvf?code_commune=75114")

In [1]:
code_commune = 75114
import urllib
import json    
try:
    url = "http://127.0.0.1:5000/dvf?code_commune="+str(code_commune)
    response = urllib.request.urlopen(url)
    html = response.read()
    json_data = json.loads(html)
except urllib.error.URLError:
        print("Erreur")

In [2]:
import pandas as pd
pd.DataFrame.from_dict(json_data)

,adresse_code_voie,adresse_nom_voie,adresse_numero,adresse_suffixe,ancien_code_commune,ancien_id_parcelle,ancien_nom_commune,code_commune,code_departement,code_nature_culture,...,nature_mutation,nom_commune,nombre_lots,nombre_pieces_principales,numero_disposition,numero_volume,surface_reelle_bati,surface_terrain,type_local,valeur_fonciere
9969,1158,RUE BOULARD,45.0,NaN,NaN,NaN,NaN,75114,75,NaN,...,Vente,Paris 14e Arrondissement,1,3.0,1,NaN,31.0,NaN,Appartement,95000.0
9970,6875,RUE D ODESSA,9.0,NaN,NaN,NaN,NaN,75114,75,NaN,...,Vente,Paris 14e Arrondissement,1,3.0,1,NaN,43.0,NaN,Appartement,545000.0
9971,8446,RUE DE LA SABLIERE,26.0,NaN,NaN,NaN,NaN,75114,75,NaN,...,Vente,Paris 14e Arrondissement,2,1.0,1,NaN,18.0,NaN,Appartement,220000.0
9972,8105,AV REILLE,33.0,B,NaN,NaN,NaN,75114,75,NaN,...,Vente,Paris 14e Arrondissement,1,1.0,1,NaN,25.0,NaN,Appartement,132500.0
9973,5000,RUE JONQUOY,41.0,NaN,NaN,NaN,NaN,75114,75,NaN,...,Vente,Paris 14e Arrondissement,2,4.0,1,NaN,75.0,NaN,Appartement,590000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10872,3967,RUE GASSENDI,17.0,NaN,NaN,NaN,NaN,75114,75,NaN,...,Vente,Paris 14e Arrondissement,2,2.0,1,NaN,21.0,NaN,Appartement,335500.0
10873,3967,RUE GASSENDI,17.0,NaN,NaN,NaN,NaN,75114,75,NaN,...,Vente,Paris 14e Arrondissement,1,1.0,1,NaN,10.0,NaN,Appartement,335500.0
10874,2639,RUE DECRES,7.0,NaN,NaN,NaN,NaN,75114,75,NaN,...,Vente,Paris 14e Arrondissement,1,0.0,1,NaN,25.0,NaN,Local industriel. commercial ou assimilé,238925.0
10875,2639,RUE DECRES,7.0,NaN,NaN,NaN,NaN,75114,75,NaN,...,Vente,Paris 14e Arrondissement,1,0.0,1,NaN,12.0,NaN,Local industriel. commercial ou assimilé,238925.0
10876,0143,RUE D ALESIA,74.0,NaN,NaN,NaN,NaN,75114,75,NaN,...,Vente,Paris 14e Arrondissement,1,2.0,1,NaN,46.0,NaN,Appartement,575000.0

## Test into dev/production

In [3]:
zappa_url = "https://26yrburrn0.execute-api.eu-west-3.amazonaws.com/dev"
code_commune = 75114
import urllib
import json    
try:
    url = zappa_url+"/dvf?code_commune="+str(code_commune)
    response = urllib.request.urlopen(url)
    html = response.read()
    json_data = json.loads(html)
except urllib.error.URLError:
        print("Erreur")

In [4]:
import pandas as pd
pd.DataFrame.from_dict(json_data)

,adresse_code_voie,adresse_nom_voie,adresse_numero,adresse_suffixe,ancien_code_commune,ancien_id_parcelle,ancien_nom_commune,code_commune,code_departement,code_nature_culture,...,nature_mutation,nom_commune,nombre_lots,nombre_pieces_principales,numero_disposition,numero_volume,surface_reelle_bati,surface_terrain,type_local,valeur_fonciere
9969,1158,RUE BOULARD,45.0,NaN,NaN,NaN,NaN,75114,75,NaN,...,Vente,Paris 14e Arrondissement,1,3.0,1,NaN,31.0,NaN,Appartement,95000.0
9970,6875,RUE D ODESSA,9.0,NaN,NaN,NaN,NaN,75114,75,NaN,...,Vente,Paris 14e Arrondissement,1,3.0,1,NaN,43.0,NaN,Appartement,545000.0
9971,8446,RUE DE LA SABLIERE,26.0,NaN,NaN,NaN,NaN,75114,75,NaN,...,Vente,Paris 14e Arrondissement,2,1.0,1,NaN,18.0,NaN,Appartement,220000.0
9972,8105,AV REILLE,33.0,B,NaN,NaN,NaN,75114,75,NaN,...,Vente,Paris 14e Arrondissement,1,1.0,1,NaN,25.0,NaN,Appartement,132500.0
9973,5000,RUE JONQUOY,41.0,NaN,NaN,NaN,NaN,75114,75,NaN,...,Vente,Paris 14e Arrondissement,2,4.0,1,NaN,75.0,NaN,Appartement,590000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10872,3967,RUE GASSENDI,17.0,NaN,NaN,NaN,NaN,75114,75,NaN,...,Vente,Paris 14e Arrondissement,2,2.0,1,NaN,21.0,NaN,Appartement,335500.0
10873,3967,RUE GASSENDI,17.0,NaN,NaN,NaN,NaN,75114,75,NaN,...,Vente,Paris 14e Arrondissement,1,1.0,1,NaN,10.0,NaN,Appartement,335500.0
10874,2639,RUE DECRES,7.0,NaN,NaN,NaN,NaN,75114,75,NaN,...,Vente,Paris 14e Arrondissement,1,0.0,1,NaN,25.0,NaN,Local industriel. commercial ou assimilé,238925.0
10875,2639,RUE DECRES,7.0,NaN,NaN,NaN,NaN,75114,75,NaN,...,Vente,Paris 14e Arrondissement,1,0.0,1,NaN,12.0,NaN,Local industriel. commercial ou assimilé,238925.0
10876,0143,RUE D ALESIA,74.0,NaN,NaN,NaN,NaN,75114,75,NaN,...,Vente,Paris 14e Arrondissement,1,2.0,1,NaN,46.0,NaN,Appartement,575000.0